* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg,rgba(254, 243, 218, 1) 0%, rgba(220, 240, 206, 1) 100%);
}

header {
  text-align: center;
  width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 500px;
}

h1 {
    margin-bottom: 32px;
    color: #25233c;
}

h3 {
    margin-top: 24px;
    margin-bottom: 38px;
    color: #25233c;
}

p {
    color: #25233c;
}